 header .cv-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow:hidden;
    margin: auto;
    } 

header .cv-photo img {
    width: 100%;
    } 

nav a {
    display: block;
    background-color: gray;
    margin: 1px;
    position: relative;
    padding: 5px;
    }
        
nav a::after {
    content: ">";
    position: absolute;
    right: 5px;
    color: white;
    } 


.progress-bar {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    height: 10px;
}

.progress {
    background-color: aqua;
    height: 10px;
    border-radius: 5px;
}

nav a {
    display: block;
}

.skill h3 {
    display: inline;
}
.project a img .project a span {
    display: block;
    color: sandybrown;
}
.project {
    width: 250px;
    height: 250px;
    overflow:hidden;
    } 

    .project a img {
    width: 100%;
    } 